netskope_tenant_url = "https://tenant.goskope.com"
netskope_api_token  = "..."
vsphere_user        = "administrator@vsphere.local"
vsphere_password    = "..."
vsphere_server      = "vcenter.lab.local"
datacenter          = "dc1"
cluster             = "cluster1"
datastore           = "ds1"
network_name        = "vm-net"
template_name       = "netskope-publisher-template"
